<!--
<aside ...attributes>
  <div class="avatar" title={{@title}}>{{@initial}}</div>
</aside>
-->

<aside ...attributes>
  <div
    class="avatar {{if @isActive "is-active"}}"
    title={{@title}}
  >
    {{@initial}}
  </div>
</aside>
