<Avatar
  {{!@title={{@avatarTitle}}
  @title="{{@username}}'s avatar"
    {{!@initial={{@avatarInitial}}
  {{! @initial={{substring @username 0 1}}
  {{! This won't work yet! We need to update the substring helper }}
  @initial={{substring @username start=0 end=1}}
  @isActive={{@userIsActive}}
    class="{{if @isCurrentUser "current-user"}}"
></Avatar>
<section>
  <Username
    @name={{@username}}
      @localTime={{@userLocalTime}}
  ></Username>

  {{yield}}
</section>