<div class="messages">
    {{#each this.messages as |message|}}
        <Message
                @username={{message.username}}
                @initial={{message.initial}}
                @userIsActive={{message.active}}
                @userLocaltime={{message.localTime}}
        >
            {{{message.content}}}
        </Message>
    {{/each}}

    <NewMessageInput />
</div>