<article class="rental">
  <!--
  <Rental::Image
    src="../assets/images/teaching-tomster.png"
    alt="A picture of Grand Old Mansion"
  />-->

  <Rental::Image
    src={{@rental.image}}
    alt="A picture of {{@rental.title}}"
  />
  <div class="details">
    <!--<h3>Grand Old Mansion</h3>-->
    <h3>{{@rental.title}}</h3>
    <div class="detail owner">
      <!--<span>Owner:</span> Veruca Salt-->
      <span>Owner:</span> {{@rental.owner}}
    </div>
    <div class="detail type">
      <!--<span>Type:</span> Standalone-->
      <span>Type:</span> {{@rental.type}}
    </div>
    <div class="detail location">
      <!--<span>Location:</span> San Francisco-->
      <span>Location:</span> {{@rental.city}}
    </div>
    <div class="detail bedrooms">
      <!--<span>Number of bedrooms:</span> 15-->
      <span>Number of bedrooms:</span> {{@rental.bedrooms}}
    </div>
  </div>

  <!--<Map
    @lat="37.7749"
    @lng="-122.4194"
    @zoom="9"
    @width="150"
    @height="150"
    alt="A map of Grand Old Mansion"
  />-->
  <Map
    @lat={{@rental.location.lat}}
    @lng={{@rental.location.lng}}
    @zoom="9"
    @width="150"
    @height="150"
    alt="A map of {{@rental.title}}"
  />

</article>