{{page-title "Scientists"}}
<!--<h2>List of Scientists</h2>

<ul>
  {{#each @model as |scientist|}}
    <li>{{scientist}}</li>
  {{/each}}
</ul>-->

<PeopleList
  @title="List of Scientists"
  @people={{@model}}
/>

<!-- {{people-list title="List of Scientists" people=model}} -->

{{outlet}}